.dropdown-item:hover {
  background-color: #007bff;
  color: white;
}

.add{
  margin-left: 3.296em;
}
.support p
{
    
   margin-left: 80px;
   color: rgb(74, 74, 74);
   font-family: Segoe UI;
   margin-bottom: 0;
}
/* Existing styles */
.dropdown-item:hover {
  background-color: #007bff;
  color: white;
}

/* .dropdown-toggle::after {
  margin-left: 2.255em;
} */

.support p {
  margin-left: 80px;
  color: rgb(74, 74, 74);
  font-family: Segoe UI;
  margin-bottom: 0;
}



